footer{
    background-color: $footer-blue;
    .footer__logo{
        margin-bottom: 20px;
        @media screen and (max-width:400px) {
            img{
                max-width: 50%;
            }
            }
    }
    .get-started{
        background-color: $dark-blue;
        margin: 100px auto 10px;
        max-width: 700px;
        padding: 35px;
        text-align: center;
        border-radius: 8px;
        box-shadow: 7px 10px 16px 0px rgba(0,0,0,0.1);
        max-height: 400px;
        margin-top: 30px;
        transform: translateY(-100px);
        h2{
            font-size: 35px;
            margin-bottom: 20px;
        }
        p{
            font-size: 15px;
            line-height: 1.5;
            margin-bottom: 20px;
            padding: 0 15px;
        }
        @media screen and (max-width:670px) {
            h2{
                font-size: 30px;
            }
            p{
                font-size: 14px;
                padding: 0;
            }
        }
        @media screen and (max-width:441px) {
            h2{
                font-size: 25px;
            }
        }
        @media screen and (max-width:386px) {
            h2{
                font-size: 20px;
            }
        }
        form{
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 15px;
            .email__container{
                flex-basis: 70%;
                position: relative;
                &.error{
                    span{
                        display: block;
                    }
                }
                input{
                    width: 100%;
                    padding: 16px;
                    border-radius: 30px;
                    border: none;
                    outline: none;
                    &::placeholder{
                        opacity: 0.6;
                    }
                    &.error + span{
                        display: block;
                    }
                }
                span{
                    position: absolute;
                    display: none;
                    bottom: -25px;
                    left: 16px;
                    font-size: 12px;
                    color: $light-red;
                    font-weight: 700;
                }
            }
            button{
                border: none;
                padding: 15px 22px;
                border-radius: 27px;
                max-width: 300px;
                // background: linear-gradient(to right , $cyan,$call-to-action-blue);
                // color: $white;
                // font-weight: 700;
                // cursor: pointer;
                // flex-basis: 25%;
                @include btn

            }
            @media screen and (max-width:741px) {
                flex-direction: column;
                gap: 20px;;

                .email__container{
                    flex-basis: 100%;
                    width: 100%;
                    &.error{
                        span{
                            display: block;
                        }
                        &+button{
                            transform: translateY(10px);
                        }
                    }
                }
            }
            @media screen and (max-width:430px) {
                button{
                    width: 100%;
                }
            }
        }
    }

    .footer__content{
        display: flex;
        font-size: 15px;
        line-height: 1.5;
        margin-bottom: 60px;
        .footer__location {
            display: flex;
            align-items: flex-start;
            gap: 20px;
            flex-basis: 40%;
            margin-right: 30px;
            p{
                line-height: 1.5;
            }
        }

        .footer__contact{
            flex-basis: 20%;
            img{
                margin-right: 7px;
            }
            .contact__phone{
                margin-bottom: 10px;
            }
        }

        .footer__links{
            flex-basis: 10%;
            li{
                margin-bottom: 10px;
                a{
                    color: white;
                    transition: .2s ease;
                }
                &:hover{
                    a{
                        font-weight: bolder;
                    }
                }
            }
        }

        .footer__socials{
            flex-basis: 10%;
            justify-self: center;
            display: flex;
            gap: 15px;
            a{
                color: white;
                width: 30px;
                height: 30px;
                border: solid white 1px;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 50%;
                transition: ease .3s;

                &:hover{
                    border-color: $cyan;
                    color: $cyan;
                }
            }
        }
        @media screen and (max-width:992px) {
            flex-direction: column;
            row-gap: 30px;
            .footer__contact{
                margin-bottom: 20px;
            }
            .footer__socials{
                align-self: center;
            }
        }
        @media screen and (max-width:400px) {
            font-size: 14px;
        }
    }

    .attribution {
        font-size: 11px;
        text-align: center;
        padding-bottom: 10px;
        a{
            color: hsl(228, 45%, 44%);
        }
    }

}